 <h1>About Us</h1>
 <p>
   This is the page for the
   <a href="http://selimtavsan.com/">Ruby on Rails Tutorial</a>
   sample application with <a href="http://rubyonrails.org/">Ruby on Rails</a>. 
   This is the sample application for the tutorial.
 </p>
